.html , .body {
    font-family: Segoe UI ;
    margin: 0px;
    padding: 0px ;
}


.header {
    padding: 60px;
    text-align: center ;
    align-items: center ;
    background:#2D89E6;
    font-size: 22px;
    font-weight: bold;
    height: 76px;
    
}