.html , .body {
    font-family: Segoe UI ;
    margin: 0px;
    padding: 0px ;
}


.header {
    padding: 60px;
    text-align: center ;
    align-items: center ;
    background:#2D89E6;
    font-size: 22px;
    font-weight: bold;
    font-family: Segoe UI ;
    height: 76px;
    display: flex;
    justify-content: center;    
}
.main {
    display: flex ;
}
.leftCountainer{
    height: 100%;
    width: 527px;
    padding: 60px;
    border-width: 2px;
    border-color:#C3C3C3 ;
    border-style: solid;
    margin: 40px;
    border-radius: 70px;

    .title{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 22px;
        color: #707070;
    }
    input {
        padding: 10px;
        width: 100% ;
        height: 20px;
        border-radius: 25px;
    }
    select{
        padding: 10px;
        width: 100% ;
        height:50px;
        border-radius: 25px;
    }
    textarea {
        padding: 10px;
        width: 100% ;
        height: 80px;
        border-radius: 25px;
    }
    .check{
        border-radius: 25px;
        input{
            width: 60px ;
            height: 10px;
            border-radius: 0px;
        }
        #1{
            width: 5px ;
            height:5px;
        }
        
        
    }
    button{
        background-color: #2D89E6 ;
        text-align: center ;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 22px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100% ;
        height:50px;
        margin-top: 30px;
        position: relative ;
        padding: 0px;


    }
}
.rightCountainer{
    background-color: #F6F6F6 ;
    height: 100%;
    width: 1100px;
    padding: 60px;
    border-color:#C3C3C3 ;
    padding-left: 8px;
    .head{
        margin: 100px;
        margin-top: 50px;
        background:#2D89E6;
        height: 40px;
        padding-left: 0px;
        border-radius: 25px ;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 0;

    }
    
}
