*{
    box-sizing: border-box;
}


.html , .body {
    font-family: Segoe UI ;
    margin: 0px;
    padding: 0px ;
}


.header {
    padding: 60px;
    text-align: center ;
    align-items: center ;
    background:#2D89E6;
    font-size: 22px;
    font-weight: bold;
    font-family: Segoe UI ;
    height: 76px;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px ;    
}
.main {
    display: flex ;
}
.leftCountainer{
    height: 100%;
    width: 527px;
    border-width: 2px;
    border-color:#C3C3C3 ;
    border-style: double;
    margin: 60px;
    border-radius: 70px;

    .title{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 22px;
        color: #707070;
    }
    input, select, textarea {
        width: 88% ;
        height: 50px;
        border-radius: 15px;
        border: 1px solid #C3C3C3;
        padding-left: 10px;
        margin-left: 6%;
        margin-right: 6%;
    }

    textarea {
        height: 140px;
    }

    .check{
        border-radius: 25px;
        input{
            width: 60px ;
            height: 10px;
            border-radius: 0px;
        }
        #1{
            width: 5px ;
            height:5px;
        }
        
        
    }
    button{
        background-color: #2D89E6 ;
        text-align: center ;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 22px;
        border: 0;
        border-bottom-left-radius: 85px;
        border-bottom-right-radius: 85px;
        width: 100% ;
        height:50px;
        margin-top: 30px;
        position: relative ;
        padding: 0px;
        margin-bottom: 0;
        p{
            color: white;
            display: flex;
            justify-content: center;
            margin: auto;
        }

    }
        
}

.rightCountainer{
    background-color: #F6F6F6 ;
    height: 100%;
    width: 1100px;
    border-color:#C3C3C3 ;
    padding-left: 8px;
    .head{
        width: 100%;
        margin: 100px;
        margin-top: 120px;
        height: 40px;
        padding-left: 0px;
        margin-left: 0;
        justify-content: space-between;
        color: white;
        display: space-between;
        display: flex;
        .content{
            margin: auto;
            display: flex;
            justify-content: center;
            background: #2D89E6;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            padding: 0;
            margin-left: 0px;
            color: white;
            height: 40px;
            
           
            .sort{
                display: flex;
                justify-content: center;
                margin-left:40px; 
                margin-right:20px;
                color: white;
                margin-top: auto;
                margin-bottom: auto;
                select{
                    border-radius: 25px ;
                }
        
                h6{
                    margin: auto;
                    margin-left: 10px;
                    margin-right: 5px;
                }
                }
                }
        .iteam{
            margin-right: 0px;
            color: white;
            background-color: #2D89E6;
            text-align: center ;
            align-items: center;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            margin-left: 100px;
            height: 40px;
            p{
               color: white;
               margin-top: 50px;
               margin-bottom: auto;
               margin: auto;
               align-items: center;
               display: flex;
               justify-content: center;

            }
          

        }
                .major{
                display: flex;
                justify-content: center;
                margin-top: auto;
                margin-bottom: auto;
                select{
                    height: 10%;
                    width: 140px;
                    border-color:#C3C3C3 ;
                    border-style: solid;
                    border-radius: 30px;
                    margin-left:20px;
                    margin-right:10px;
                }
                }
                input{
                    display: flex;
                    justify-content: center;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 5px;
                    margin-right: 140px;
                    height: 15px;
                    width: 150px;
                    border-color:#C3C3C3 ;
                    border-width: 1px;
                    border-radius: 30px;
                }
                .spector{
                    height: 30px;
                    margin-left:20px ;
                    margin-top: auto;
                    margin-bottom: auto;
                    border: 1px solid white;
                }
            }

        }

        .members{
            margin-left: 100px;
        }
        
    .member1 ,.member2 , .member3 , .member4 ,.member5 ,.member6 {
        display: flex;
        justify-content: center;
        font-family: 'Segoe UI' ;
        
        }
        .shape{
            image{
            display: flex;
            justify-content: center;
            }
        }
        
       .info{
            color: #2D89E6;
            font-weight: bold;
            font-size: 14px;
        }
        .text{
            color:#6A6A6A;
            font-weight: Regular;
            font-size: 14px;

        }

        



    
    

